.arrow.arrowactive:hover {
	cursor: pointer;
	opacity: 1;
}

#left, #right {
	opacity: 0.5;
	z-index: 10;
	width: 12vh;
	position: fixed;
	top: 45vh;
}

#left {
	left: 10vh;
}

#right {
	right: 10vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

